Filtering Data Based on Conditions

In [6]:
import pandas as pd

In [8]:
import numpy as np

In [10]:
# Load the CSV file
df = pd.read_csv('Day_10_banking_data.csv')

In [18]:
# Filter rows where 'Transaction_Amount' is greater than 2000
filtered_transactions = df[df['Transaction_Amount'] > 2000]
# Display the filtered result
print(filtered_transactions)

          Date       Account_Type    Branch Transaction_Type  \
2   2023-01-10            Current    Uptown     Loan Payment
4   2023-01-14  Recurring Deposit  Suburban     Loan Payment
5   2023-01-06            Current  Suburban   Service Charge
7   2023-01-09            Current   Central     Loan Payment
8   2023-01-20  Recurring Deposit  Downtown   Service Charge
13  2023-01-05  Recurring Deposit   Central     Loan Payment
14  2023-01-01      Fixed Deposit  Downtown       Withdrawal
15  2023-01-03            Savings  Suburban   Service Charge
16  2023-01-02      Fixed Deposit   Central          Deposit
17  2023-01-07            Current   Central     Loan Payment
19  2023-01-17            Savings   Central          Deposit

    Transaction_Amount  Account_Balance
2              3363.85         12428.67
4              2788.57          4779.04
5              4584.05          7635.47
7              2346.72         10708.85
8              3899.98         12646.56
13             4683.64          6762.43
14             4136.54          8175.08
15             3350.32         12836.51
16             4421.57          8330.40
17             4116.52          9785.64
19             4516.52          8789.19

In [20]:
# Filter rows where 'Transaction_Type' is "Loan Payment" and 'Account_Balance' is greater than 5000
loan_payment_high_balance = df[(df['Transaction_Type'] == 'Loan Payment') & (df['Account_Balance'] > 5000)]
# Display the filtered result
print(loan_payment_high_balance)

          Date       Account_Type   Branch Transaction_Type  \
0   2023-01-19      Fixed Deposit  Central     Loan Payment
2   2023-01-10            Current   Uptown     Loan Payment
3   2023-01-18            Savings   Uptown     Loan Payment
7   2023-01-09            Current  Central     Loan Payment
13  2023-01-05  Recurring Deposit  Central     Loan Payment
17  2023-01-07            Current  Central     Loan Payment

    Transaction_Amount  Account_Balance
0               985.51          6839.59
2              3363.85         12428.67
3              1914.60          5776.63
7              2346.72         10708.85
13             4683.64          6762.43
17             4116.52          9785.64

In [22]:
# Filter rows where 'Branch' is "Uptown"
uptown_transactions = df[df['Branch'] == 'Uptown']
# Display the filtered result
print(uptown_transactions)

          Date   Account_Type  Branch Transaction_Type  Transaction_Amount  \
1   2023-01-16        Current  Uptown       Withdrawal              641.43
2   2023-01-10        Current  Uptown     Loan Payment             3363.85
3   2023-01-18        Savings  Uptown     Loan Payment             1914.60
12  2023-01-15  Fixed Deposit  Uptown   Service Charge             1225.50

    Account_Balance
1           8908.39
2          12428.67
3           5776.63
12          4224.47

Data Transformation

In [25]:
# Calculate 2% of 'Transaction_Amount' and add it as a new column 'Transaction_Fee'
df['Transaction_Fee'] = df['Transaction_Amount'] * 0.02

# Display the updated DataFrame with the new 'Transaction_Fee' column
print(df[['Transaction_Amount', 'Transaction_Fee']].head())

   Transaction_Amount  Transaction_Fee
0              985.51          19.7102
1              641.43          12.8286
2             3363.85          67.2770
3             1914.60          38.2920
4             2788.57          55.7714

In [27]:
# Create 'Balance_Status' based on 'Account_Balance'
df['Balance_Status'] = df['Account_Balance'].apply(lambda x: 'High Balance' if x > 5000 else 'Low Balance')

# Display the updated DataFrame with the new 'Balance_Status' column
print(df[['Account_Balance', 'Balance_Status']].head())

   Account_Balance Balance_Status
0          6839.59   High Balance
1          8908.39   High Balance
2         12428.67   High Balance
3          5776.63   High Balance
4          4779.04    Low Balance