Data Exploration

In [6]:
import pandas as pd

# Load the CSV file into a DataFrame
df = pd.read_csv('Day_9_banking_data.csv')

In [8]:
# Display the first 5 rows of the DataFrame
print(df.head())

         Date       Account_Type    Branch Transaction_Type  \
0  2023-01-19      Fixed Deposit   Central     Loan Payment
1  2023-01-16            Current    Uptown       Withdrawal
2  2023-01-10            Current    Uptown     Loan Payment
3  2023-01-18            Savings    Uptown     Loan Payment
4  2023-01-14  Recurring Deposit  Suburban     Loan Payment

   Transaction_Amount  Account_Balance
0              985.51          6839.59
1              641.43          8908.39
2             3363.85         12428.67
3             1914.60          5776.63
4             2788.57          4779.04

In [10]:
# Generate descriptive statistics of the numerical columns
print(df.describe())

       Transaction_Amount  Account_Balance
count           20.000000        20.000000
mean          2705.829500      7967.766500
std           1429.829787      2770.248821
min            641.430000      2592.160000
25%           1482.085000      6460.127500
50%           2567.645000      7905.275000
75%           4121.525000      9127.702500
max           4683.640000     12836.510000

In [12]:
# Check for missing values in the dataset
print(df.isnull().sum())

Date                  0
Account_Type          0
Branch                0
Transaction_Type      0
Transaction_Amount    0
Account_Balance       0
dtype: int64

Data Aggregation and Grouping

In [16]:
# Group by 'Account_Type' and calculate the total sum of 'Transaction_Amount'
account_type_group = df.groupby('Account_Type').agg(
    total_transaction_amount=('Transaction_Amount', 'sum'),
    average_account_balance=('Account_Balance', 'mean')
)

# Display the result
print(account_type_group)

                   total_transaction_amount  average_account_balance
Account_Type
Current                            15052.57              9893.404000
Fixed Deposit                      14102.59              6120.380000
Recurring Deposit                  15179.99              7627.283333
Savings                             9781.44              9134.110000

In [18]:
# Group by 'Branch' and calculate the total number of transactions and average 'Transaction_Amount'
branch_group = df.groupby('Branch').agg(
    total_transactions=('Transaction_Amount', 'count'),
    average_transaction_amount=('Transaction_Amount', 'mean')
)

# Display the result
print(branch_group)

          total_transactions  average_transaction_amount
Branch
Central                    8                 2942.338750
Downtown                   3                 3188.703333
Suburban                   5                 2773.278000
Uptown                     4                 1786.345000